*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(180deg, blue, black);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}

.allgame {
  padding: 20px;
  background: linear-gradient(45deg, red, orange);
  border: 10px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
/* 
oben ist die logik allgemein */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center h1 {
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(120deg, blue, orange, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counter-block {
  width: 200px;
  border: 1px solid rgb(41, 2, 2);
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.counter-block span {
  margin: 0 25px;
}

.count {
  position: relative;
  width: 50px;
  text-align: center;
}

.count::before {
  content: "";
  display: block;
  padding: 3px 8px;
  background: yellow;
  color: black;
  font-size: 14px;
  position: absolute;
  border: none;
  border-radius: 2px;
}

.count-user::before {
  content: "Player!";
  left: -5px;
  top: 100%;
}

.count-comp::before {
  content: "Comp!";
  right: -5px;
  top: 100%;
}
.comp-field::before {
  content: "Comp!";
  left: 50%;
  font-size: 20px;
  color: black;
}
.user-field::before {
  content: "Player!";
  left: 50%;
  font-size: 20px;
  color: black;
}
.result {
  border: 2px solid #b85c00;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
/* oben is die Logik Mittel,Counter */
.comp-field,
.user-field {
  display: flex;
  flex-direction: column;
}
.field {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  overflow: hidden;
  box-shadow: 0 0 10px greenyellow;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field.active {
  background-color: green;
}

.field.error {
  background-color: red;
}

.comp-field.blink .rock {
  animation: blink 0.3s linear infinite;
}
.comp-field.blink .scissors {
  animation: blink 0.3s 0.1s linear infinite;
}
.comp-field.blink .paper {
  animation: blink 0.3s 0.2s linear infinite;
}
.comp-field.blink .lizard {
  animation: blink 0.3s 0.3s linear infinite;
}
.comp-field.blink .spock {
  animation: blink 0.3s 0.4s linear infinite;
}

.comp-field.blink {
  animation-play-state: paused;
}

@keyframes blink {
  100% {
    background-color: green;
  }
}

/* oben is die Logik Optionen */
.play {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 15px 15px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 16px;
  transition: 0.2s;
  outline: none;
  background: linear-gradient(180deg, #00cb48, #126e01);
}

button:hover,
button:active {
  box-shadow: 1px 1px 0 #0c4e00;
}
.field i {
  font-size: 2em;
}
/* oben is die Stil der Tasten */
@media (max-width: 600px) {
  .allgame {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vh;
    padding: 20px;
    position: relative;
  }

  .center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .user-field,
  .comp-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    position: absolute;
  }

  .user-field {
    bottom: 300px;
  }
  .comp-field {
    bottom: 400px;
  }
  .comp-field::before {
    content: "Comp!";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: black;
  }
  .user-field::before {
    content: "Player!";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: black;
  }

  .field {
    width: 50px;
    height: 50px;
    font-size: 10px;
  }

  .field i {
    font-size: 1em;
  }
  .play {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-height: 845px) {
  .user-field {
    bottom: 100px;
  }
  .comp-field {
    bottom: 200px;
  }
  .play {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  }
}
